:80, :443 {
    root * /var/www
    encode gzip
    file_server

    reverse_proxy /api/* http://url-shortener.railway.internal:8080 {
        header_up X-Forwarded-For {http.request.remote}
        header_up X-Forwarded-Proto {http.request.proto}
        header_up X-Forwarded-Host {http.request.host}
    }

    try_files {path} /index.html
}