:80, :443 {
    root * /var/www
    encode gzip

    # Handle API requests first - proxy to backend
    handle /api/* {
        reverse_proxy  http://url-shortener.railway.internal:8080 {
            header_up X-Forwarded-For {http.request.remote}
            header_up X-Forwarded-Proto {http.request.proto}
            header_up X-Forwarded-Host {http.request.host}
        }
    }

    handle {
       try_files {path} /index.html
       file_server
    }
}